<div class="backcontainer" fxLayout="column" fxLayoutAlign="start start">
  
  <mat-toolbar style="background-color: #a03037;">
    <mat-toolbar-row>
      <!--------------- bookimg and book --------------------------->
      <div class="bookicon">
        <mat-icon color="primary" class="grab">
          <img src="assets/image/education.png" />
        </mat-icon>

      </div>
      <!-- <div style="height: 40%; margin-left: -3%;" fxHide fxShow.lt-md>
          <a (click)="adminPage()" class="bookicon">
            <mat-icon color="primary" class="grab">
              <img class="bookimg" src="assets/image/education@2x.png" />
            </mat-icon>
          </a>
        </div> -->
      <div class="booktext" fxhide="10" fxHide.xs="true" style=" margin-left: 3%;">BookStore</div>

      <!-------------------- search ------------------->
      <div class="searche">
        <img class="scicon" src="assets/image/searchicon.png" />
        <input type="text" class="searchinput" placeholder="search" autocomplete="off" />
      </div>

      <!-------------------- cart -------------------->
      <div fxLayout="row" fxLayoutAlign="start end" style="margin-left: 20%;">
        <div class="carttext">
          Admin
        </div>

        <!-- <button mat-mini-fab class="imageSelect" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'52px','height':'52px'}"
        [matMenuTriggerFor]="menu1" colour="basic" matTooltip="Seller Account"
        [matTooltipClass]="'my-tooltip'" fxLayout="row" fxLayoutAlign="end center">
      </button> -->
  
      <!-- <mat-menu id="profile" #menu1="matMenu" class="menu-button" fxLayout="row" fxLayoutAlign="end start">
        <div class="backgroundimage">
          <button (click)="$event.stopPropagation()"
            [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'100px','height':'100px'}"
            (click)="imageSelectFile.click()" matTooltip="Seller Account" mat-mini-fab class="imageSelect">
            <mat-icon class="icons" matSuffix>add_a_photo</mat-icon>
          </button>
        </div>
        <div class="profileEmail">  </div>
        <div class="profileEmail">  </div>
        <input fxHide class="image" type="file" (change)="fileUpload($event)" #imageSelectFile enctype="multipart/form-data/" >
        <mat-divider style="margin-top: auto;"></mat-divider>
        <div fxLayoutAlign="center center" *ngIf="visible">
          <button class="signout" mat-flat-button >LogIn </button>
        </div>
          <div fxLayoutAlign="center center" *ngIf="!visible">
            <button class="signout" mat-flat-button>Sign out </button>
          </div>
      </mat-menu> -->

        <button mat-icon-button width="30" style="margin-left: 41%; background-color: whitesmoke;" fxShow="true"
          fxHide.lt-md="true" [matMenuTriggerFor]="beforeMenu">
          <mat-icon id="cartimg">list</mat-icon>
        </button>

        <mat-menu id="profile" #menu1="matMenu" class="menu-button" fxLayout="row" fxLayoutAlign="end start">
          <div class="backgroundimage">
            <button (click)="$event.stopPropagation()"
              [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'120px','height':'120px'}"
              (click)="imageSelectFile.click()" matTooltip="Seller Account" mat-mini-fab class="imageSelect">
              <mat-icon class="icons" matSuffix>add_a_photo</mat-icon>
            </button>
          </div>
          <div> <p style="margin-left: 53px; font-weight: bold; "> {{username}} </p> 
               <p style="margin-left: 34px; margin-top: -13px; "> {{usermail}} </p> </div>
          <input fxHide class="image" type="file"  #imageSelectFile enctype="multipart/form-data/" >
          <mat-divider style="margin-top: auto;"></mat-divider>
          <div fxLayoutAlign="center center" *ngIf="!isLogin">
            <button class="delete" mat-flat-button (click)="signup()">SignUp </button>
            <button class="login" mat-flat-button (click)="signin()">LogIn </button>
          </div>
            <div fxLayoutAlign="center center" *ngIf="isLogin">
              <button class="delete" mat-flat-button (click)="delete()">Delete </button>
              <button class="signout" mat-flat-button (click)="Logout()">Sign out </button>
            </div>
        </mat-menu> 

        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <div style="width: 200px;">
            <button mat-menu-item style="text-align: center;">
              Approve Books<mat-menu #menu="matMenu"><app-user-books></app-user-books> </mat-menu>
            </button>
            <!-- <button mat-menu-item style="text-align: center;">
              DisApproved Books
            </button> -->
            <div *ngIf='visible'>
              <button mat-menu-item style="text-align: center;">
                Login 
              </button>
            </div>
            <div *ngIf='!visible'>
            <button mat-menu-item style="text-align: center;" >
              Logout
            </button> 
            </div>
            <!-- <label> -->
            <!-- <button value="uploadProfile" class="uploadimage">
              Upload Profile
              <input style="display: none;" #fileInput type="file" name="fileupload" />
            </button> -->
            <!-- </label> -->
          </div>
        </mat-menu>
        <!--------------- app ---------------->
        <button mat-icon-button class="apps" [matMenuTriggerFor]="menu" fxHide fxShow.lt-md>
          <mat-icon matTooltip="appearance" [ngStyle]="{ color: 'white' }">apps</mat-icon>
          <mat-menu #menu="matMenu">
            <div style="width: 200px;">
              <button mat-menu-item style="text-align: center;">
                Approve Books
              </button>
              <button mat-menu-item style="text-align: center;">
                DisApproved Books
              </button>
              <div>
                <button mat-menu-item style="text-align: center;">
                  Login
                </button>
              </div>
              <button mat-menu-item style="text-align: center;">
                Logout
              </button>

              <!-- <label> -->
              <button value="uploadProfile" class="uploadimage">
                Upload Profile
                <input style="display: none;" #fileInput type="file" name="fileupload" />
              </button>
              <!-- </label> -->
            </div>
          </mat-menu>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <app-admin></app-admin>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>