<div class="container">
  <div class="title">
    Books
    <span style="font-size: 15px; font-family: Lato; color: rgb(139, 136, 136);"
      >({{ size }} items)</span
    >
  </div>
  <div style="font-family: Lato; font-weight: Regular; width: 15%; height: 30%; border: 3px; padding: 2px;margin-right: 10%;">
    <select [(ngModel)]='sortTerm' (ngModelChange)='onSelect($event)'>
      <option  value="none"> Sort by relevance</option>
      <option value="Price:High To Low">Price:High To Low</option>
      <option  value="Price:Low To High">Price:Low To High</option>
      <option value="By Book Name">By Book Name</option>
    </select>
  </div>
</div>
<div
  class="main-div"
  fxLayoutGap="40px"
  fxLayout.lt-sm="column"
  fxLayout.sm="row wrap"
  fxLayoutAlign.sm="start center"
  fxLayout.md="row wrap"
  fxLayoutAlign.md="start center"
  fxLayoutAlign.lt-sm="center center"
  fxLayout.lg="row wrap"
  fxLayoutAlign.lg="start start"
>
  <div *ngFor="let book of books  | bookFilter:searchTerm | sortbyprice:sortTerm | paginate: { itemsPerPage: 8, currentPage: page, id: 'first' }" style="margin: 0px; " fxLayout="row" >
    <mat-card>

     <div class="bookImageDiv" fxLayoutAlign="center">
        <img src="{{ book.bookImgUrl }}" />
      </div>

      <div class="bookInfoDiv" fxLayout="column">
        <div class="input-title">
          {{ book.bookName }}
        </div>
        <div fxlayout="row" class="input-author">by {{ book.authorName }}</div>
        <div fxlayout="row">
          <span class="input-price-span">Rs. {{ book.price }}</span>
        </div>
        <div *ngIf="value[book.bookId] != book.bookId && book.quantity > 0" fxLayout="row" fxLayoutAlign="space-between">
          <button class="delete-button" mat-raised-button fxLayoutAlign="center" [disableRipple]="true" (click)="onAddBook(book)">
            Add to cart
          </button>
          <button
            *ngIf="wishvalue['x'+book.bookId] != book.bookId"
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onWish(book)"
          >
            Wishlist
          </button>
          <button
            *ngIf="wishvalue['x'+book.bookId] == book.bookId"
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
          >
            Wishlisted
          </button>

        </div>
        <div *ngIf="value[book.bookId] == book.bookId">
          <button   style="
          height: 32px;
          width: 100%;
          background-color: #3371b5;
          border-radius: 2px;
          color: whitesmoke;
          text-align: center;
        "
        mat-button
       [disabled] = "value[book.bookId] == book.bookId" class="delete-button" class="delete-button" mat-raised-button fxLayoutAlign="center" [disableRipple]="true" (click)="onAddBook(book.bookId)">
            Added to cart
          </button>
        </div>
        <div *ngIf="book.quantity <= 0">
          <div   style="
          height: 32px;
          width: 100%;
          margin-top: -160px;
          background-color: whitesmoke;
          border-radius: 2px;
          color:black;
          text-align: center;
          opacity: 90%;
        "
          >
           <p style="padding-top: 8px;">Out Of Stock</p>
        </div>
        </div>
        <div *ngIf="book.quantity <= 0">
          <button   style="
          height: 32px;
          outline-color: black;
          width: 100%;
          margin-top: 3%;
          border-radius: 2px;
          color: black;
          text-align: center;
          border-color: black;
        " *ngIf="wishCheck(book.bookId) == -1 && book.quantity <= 0"
        mat-button mat-raised-button fxLayoutAlign="center" [disableRipple]="true"  (click)="onWish(book)">
            Wishlist
          </button>
          <button style="
          height: 32px;
          outline-width: 1px;
          outline-color: black;
          width: 100%;
          margin-top: 3%;
          border-radius: 2px;
          color: black;
          text-align: center;
          border-color: black;
        "
            *ngIf="wishCheck(book.bookId) == book.bookId && book.quantity <= 0"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
          >
            Wishlisted
          </button>
        </div>
      </div>
    </mat-card>
    <div class="book-details">
      <h4 style="text-align: center;margin-top: 0mm;">Book Details</h4>
      <span style="font-size: medium;">{{ book.bookDetails }}</span>
    </div>
  </div>
</div>
<div class="paginator">
  <pagination-controls
    (pageChange)="page = $event"
    id="first"
  ></pagination-controls>
</div>
