<html>
    <body>
        <div fxLayoutAlign="center center" class="container">
            <mat-card  style="background:white;" fxLayout="column">
                <mat-card-title fxFlexAlign="centre">Online Book Store User verification</mat-card-title><br>
                    <button  style="margin-left: 40%;width: 10%;height: 5%;" fxFlexAlign="centre" 
                         mat-raised-button type="submit" (click)="onVerify()"> Verify
                    </button>
            </mat-card>
        </div>
    </body>
</html>