<div class=main-div>
    <mat-card style="width: 25em; height: 70vh; box-shadow: 1px 1px 7px 0px;">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">      
        <!-- <div fxLayoutAlign="space-around center" fxFlex="100">
            <mat-card fxFlex="30" class="card" fxFlex.xs="100"> -->
              
              <div><img id="bookstore_logo" src="../../../assets/image/2766594.png"/></div>
              
              <mat-card-title class="Bookstore">
                <span class="S">S</span>
                <span class="i">i</span>
                <span class="g">g</span>
                <span class="n">n</span>
                <span class="U">U</span>
                <span class="p">p</span>
              </mat-card-title>
                <div align="center"><label style="font-size:20px;"><b>Forgot Password </b></label></div><br><br>
              
              <div class="form-group" class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Email ID*" type="emailId" formControlName="emailId"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                    <mat-icon matSuffix>emailId</mat-icon>
                      <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.emailId.errors.required">*emailId is <strong>required</strong></mat-error>
                      </mat-error>
                </mat-form-field>
              </div>
          
              <div class="form-group" class="example-container">
                <a class="link" routerLink="/login">Back To Login?</a><br>
                  <div align="center">
                    <button mat-button id="nextbutton">Submit</button><br><br><br><br><br>
                    <div class="err" role="alert" *ngIf="successMsg">{{successMsg}}</div>
                    <div class="err" role="alert" *ngIf="incorrectInput">{{incorrectInput}}</div>
                    <div class="err" role="alert" *ngIf="failedMsg">{{failedMsg}}</div>
                  </div>
              </div>
        </form>
    </mat-card>
  </div>  
  