
<div *ngIf="isLogin">
  <mat-toolbar style="width: 101.6%; margin-left: -1%; height: 8%; background-color: rgb(206, 117, 44)" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-flat-button (click)="onNewlyAdded()" fxLayout="row"  [ngClass]="status1 ? 'bookNewButton' : 'bookButton'"
       fxLayoutAlign="end center">Newly Added Books
      </button>
    <button mat-flat-button (click)="onDisapproved()"  fxLayout="row" [ngClass]="status2 ? 'bookNewButton' : 'bookButton'"
     fxLayoutAlign="end center">Disapproved Books
   </button>
   <button mat-flat-button (click)="onApproved()" fxLayout="row" [ngClass]="status3 ? 'bookNewButton' : 'bookButton'"
    fxLayoutAlign="end center">Approved Books
  </button>
  </mat-toolbar>
</div>
<div
 *ngIf="isLogin"
  class="main-div"
  fxLayoutGap="40px"
  fxLayout.lt-sm="column"
  fxLayout.sm="row wrap"
  fxLayoutAlign.sm="start center"
  fxLayout.md="row wrap"
  fxLayoutAlign.md="start center"
  fxLayoutAlign.lt-sm="center center"
  fxLayout.lg="row wrap"
  fxLayoutAlign.lg="start start"
>
  <div *ngFor="let book of books  | bookFilter:searchTerm | paginate: { itemsPerPage: 4, currentPage: page, id: 'first' }" style="margin: 0px; " fxLayout="row">
    <mat-card>
<!--   <button-->
<!--      mat-raised-button-->
<!--      fxLayoutAlign="end end"-->
<!--      [disableRipple]="true"-->
<!--      (click)="notification(book.rejectionReason)"-->
<!--    >  <mat-icon style="background-color: red;" matSuffix>notifications</mat-icon>-->
<!--    </button>-->
     <div fxLayoutAlign="center">
        <img class="bookImageDiv" src="{{ book.bookImgUrl }}" />
      </div>

      <div class="bookInfoDiv" fxLayout="column">
        <div class="input-title">
          {{ book.bookName }}
        </div>
        <div fxlayout="row" class="input-author">by {{ book.authorName }}</div>
        <div fxlayout="row" (click)="onUpdateBookForm(book)">
          <span class="input-price-span">Rs. {{ book.price }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button
            class="delete-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onDeleteBook(book.bookId)"
          >
            DELETE
          </button>
          <button
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            *ngIf="book.isSendForApproval"
            (click)="onUpdateBookForm(book)"
          >
            UPDATE
          </button>
          <button
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            *ngIf="!book.isSendForApproval"
            (click)="onApprovalRequest(book.bookId)"
          >
            APPROVAL
          </button>

        </div>
      </div>
    </mat-card>
    <div class="book-details">
      <h4 style="text-align: center;margin-top: 0mm;">Book Details</h4>
      <span style="font-size: medium;">{{ book.bookDetails }}</span>
    </div>
  </div>
<!--    <div class="rejection">-->
<!--      <h4 style="text-align: center;margin-top: 0mm;">Rejection Reason</h4>-->
<!--      <span style="font-size: medium;">{{ book.rejectionReason }}</span>-->
<!--    </div>-->
<!--  </div>-->
    <div class="paginator">
      <pagination-controls
        (pageChange)="page = $event"
        id="first"
      ></pagination-controls>
    </div>


