<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="matcard2">
    Are You Sure to {{ status }} Book?
    <div
      fxLayout="row wrap"
      style="justify-content: flex-end;"
      fxLayoutGap="10px"
    >
<!--      <form [formGroup]="reasonForm" *ngIf="status==statuss">-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Rejection Reason</mat-label>-->
<!--          <textarea-->
<!--            required-->
<!--            matInput-->
<!--            placeholder="reason"-->
<!--            style="overflow: hidden;-->
<!--            width: auto"-->
<!--            formControlName="reason"-->
<!--            autocomplete="off"-->
<!--            pattern="[a-zA-Z\s]{3,}"-->
<!--          ></textarea>-->
<!--        </mat-form-field>-->
<!--      </form>-->
      <button
        mat-raised-button
        (click)="onCancel()"
        style="background-color: darkgray; color: black;"
      >
        <!-- <mat-icon [ngStyle]="{ color: 'red' }">clear</mat-icon> -->
        cancel
      </button>
      <button
        mat-raised-button
        (click)="onVerify()"
        style="background-color: #a03037; color: white;"
      >
        <!-- <mat-icon [ngStyle]="{ color: 'green' }">ceck</mat-icon> -->
        ok
      </button>
    </div>
  </mat-card>
</div>
