<div class="container">
  <div class="title">
    Sellers
    <span style="font-size: 15px; color: rgb(139, 136, 136);"
      >({{ size }})</span
    >
  </div>
</div>

<div style="width: 70%; margin-top: 60px; margin-left: 215px;">
  <mat-nav-list>
    <mat-list-item *ngFor="let seller of sellerList">
      <a matLine (click)="getSellerBooks(seller)">{{ seller.sellerName }}</a>
      <button mat-icon-button (click)="getSellerBooks(seller)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
