<mat-toolbar  class="toolBar" style="width: 100%; height: 8%;" fxLayout="row" fxLayoutAlign="space-between center">

  <div class="titleText" fxLayoutGap="3%">
    <img src="../../../assets/image/education.svg" />
    <a
      href="http://localhost:4200/dashboard/books"
      style="color: white;text-decoration: none;"
      >BookStore</a>
  </div>
  <span class="spanClass"></span>
  <mat-card class="search-mat-card" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-icon-button [disableRipple]="true" matTooltip="search" >
      <mat-icon class="searchIcon">search</mat-icon>
    </button>
    <input class="searchInput" type="text" placeholder="Search..."/>
  </mat-card>

  <button mat-mini-fab class ="imageSelect"  [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'45px','height':'45px','marginLeft':'-230px'}"
  [matMenuTriggerFor]="menu1" colour="basic" matTooltip="User Account"
  [matTooltipClass]="'my-tooltip'" fxLayout="row" fxLayoutAlign="end center">
  <div
    style=" margin-right: 1px;
        color: white;
        margin-top: 22px;
        width: 43px;
        height: 43px;
        font-size: x-large;"
    *ngIf="img == null"
  >
    {{ username | slice: 0:1 }}
  </div>
</button>

<!--button mat-mini-fab *ngIf="isProfile&&!isLogin" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'52px','height':'52px'}"
  [matMenuTriggerFor]="menu1" matTooltip="Seller Account"
  [matTooltipClass]="'my-tooltip'" fxLayout="row" fxLayoutAlign="end center">
</button-->

<mat-menu  #menu1="matMenu" class="menu-button" fxLayout="row" fxLayoutAlign="end start">
  <div class="backgroundimage"  fxLayoutAlign="center center"  >
    <button (click)="$event.stopPropagation()"
      [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'80px','height':'80px'}"
      (click)="imageSelectFile.click()" matTooltip="{{username}}" mat-mini-fab class="imageSelect">
      <div
        style="margin-top: 16px;
        color: white;
        margin-right: -4px;
        font-size: -webkit-xxx-large;
        font-family: Lato, sans-serif, Bold"
        *ngIf="img == null"
      >
        {{ username | slice: 0:1 }}
      </div>
      <mat-icon class="icons" matSuffix>add_a_photo</mat-icon>
    </button>
  </div>
  <!--div>
    <div class="mat-subheading-1" style="font-weight: bold;" >{{username}}</div>
    <div class="mat-subheading-1">{{usermail}}</div>
 </div-->
  <div> <br><p style="text-align: center; font-weight: bold; overflow: hidden; text-overflow: ellipsis;"> {{username}} </p>
        <br><p style="text-align: center; margin-top: -13px;  overflow: hidden; text-overflow: ellipsis; padding-left: 10px; padding-right: 10px"> {{usermail}} </p> </div>
  <br><input fxHide class="image" type="file" (change)="fileUpload($event)" #imageSelectFile enctype="multipart/form-data/" >
  <mat-divider style="margin-top: auto;"></mat-divider>
  <div fxLayoutAlign="center center" *ngIf="!isLogin">
    <button class="login" mat-flat-button (click)="signin()">LogIn </button>
  </div>
    <div fxLayoutAlign="row" >
      <div><button class="delete" *ngIf="isLogin" mat-flat-button (click)="delete()">Delete </button></div>
    <div><button class="signout" *ngIf="isLogin" mat-flat-button (click)="Logout()">Sign out </button></div>
   </div>
</mat-menu>
</mat-toolbar>
<div fxLayoutAlign="centre" class="congrats"></div>
<div fxLayoutAlign="centre" class="orderText">order placed successfully</div>

<div class="orderDetail">
  <p>hurray!!! your order is confirmed</p>
  <p>the order id is {{ fetchOrderId() }} save the order id for</p>
  <p>further communication..</p>
</div>
<div class="tablePosition">
<mat-toolbar-row>
  <mat-toolbar class="cardStyle">
    <div id="email">Email Us</div>
    <div id="contact">Contact Us</div>
    <div id="address">Address</div>
  </mat-toolbar>
</mat-toolbar-row>
  <mat-toolbar-row class="cardStyle2">
    <span><div mat-toolbar class=" email"><div class="orientation">admin@bookstore.com</div></div></span>
    <span> <div mat-toolbar class="contact"><div class="orientation">+91 8163475881</div></div></span>
    <span> <div mat-toolbar class="address"><div class="orientation">
      <p>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA</p>
      <p>complex, near Kumarakom restaurant, HSR Layout,</p>
      <p> Bangalore 560034</p>
    </div></div></span><br>
  </mat-toolbar-row>
</div>
<button mat-flat-button class="buttonstyle" routerLink="/user-dashboard/user-books">CONTINUE SHOPPING</button>
<mat-card class="footer">
  <div>
    <p class="footerText">
      Copyright © 2020, Bookstore Private Limited. All Rights Reserved
    </p>
  </div>
</mat-card>
