/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
.container{
  width: 1376px;
  height: 50px;
  background: #A03037 0% 0% no-repeat padding-box;
  opacity: 1;
}

.bookstore{
  margin-top: 0px;
  margin-left: 164px;
  width: 128px;
  height: 26px;
  background: transparent url('bookstore.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.cart{
  margin-top: 0px;
  margin-left: 11%;
  width: 20px;
  height: 21px;
  //background: transparent url('../../../assets/image/supermarket.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.search{
  margin-top: 0px;
  margin-left: 134px;
  width: 490px;
  height: 33px;
  background: #FCFCFC;
  border-radius: 3px;
  border-color: white;
  outline: none;
  outline-width: unset;
  opacity: 10;

}

.footer{
  margin-top: 1%;
  //top: 718px;
  left: 0px;
  width: 1366px;
  height: 50px;
  background: #2E1D1E 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footTitle{
  color: white;
  font-size: small;
  font-style: normal;
  font-family: lato, serif;
  margin-left: 164px;
}*/
//@import "src/customTheme.scss"
